<!DOCTYPE html>
<html lang="kr">
<head>
    <title>Title</title>
</head>
<body>
<a href="/schedule/create">스케줄 만들기</a>

<div th:unless="${#lists.isEmpty(schedules)}">
    <dl th:each="schedule : ${schedules}">
        <dt class="bookHeadline">
            <a th:href="'http://www.naver.com'" th:text="${schedule.name}">name</a>
        </dt>
    </dl>
</div>
<div th:if="${user.owner}">
    <span th:text="${user.owner}"></span>
    <a href="/logout">로그아웃</a>
</div>

</body>
</html>