<html lang="ko"><head>
    <meta charset="utf-8"/>
    <title>Scheduler</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" type="text/css" />
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link rel="stylesheet" href="/bootstrap-calendar-ahmontero/src/css/bootstrap.calendar.css" type="text/css" />
    <link rel="stylesheet" href="/webjars/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" type="text/css"/>

    <!-- jQuery and the Calendar plugin files -->
    <script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.js" ></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.js" ></script>
    <script type="text/javascript" src="/bootstrap-calendar-ahmontero/src/bootstrap.calendar.js" ></script>
    <script type="text/javascript" src="/webjars/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function(){
            /*<![CDATA[*/
            var eventList = eval(/*[[${schedules}]]*/);
            var eventFunc = function(){
                return {
                    "event" : eventList
                }
            }
            /*]]>*/
            $('#calendar').Calendar({ 'events': eventFunc, 'weekStart': 1 });
        });

        $(document).on("click", "#makeModal", function () {
            console.log("clicked");
            var date = click_date;
            console.log(date);
            $("#modalTitle").empty();
            $("#scheduleTitle").val('');
            $("#scheduleContent").val('');
            $("#modalTitle").append(date.getFullYear()+'년 '+(date.getMonth()+1)+'월 '+date.getDate()+'일 일정 추가');
            console.log(date);
        });

        $('#createModal').on('hidden.bs.modal', function (e) {
            $(this)
                .find("input,textarea,select")
                .val('').end();
        });

        var modifySchedule = function(id){
            var scheduleData = '{"id":"'+id+'"}';
            $.ajax({
                url : "/schedule/modifyPage",
                dataType : 'json',
                type :'POST',
                contentType: "application/json; charset=UTF-8",
                data : scheduleData,
                timeout:60000,
                async: false,
                success : function(data) {
                    console.log("data : "+data.title);
                    $('#createModal').find("#scheduleTitle").val(data.title);
                    $('#createModal').find("#content").val(data.content);
                    $('#createModal').find("#timepicker").val(data.time);
                }
            });
        };

        var removeSchedule = function(id){
            var date = click_date;
            var scheduleData = '{"id":"'+id+'"}';
            $.ajax({
                url : "/schedule/remove",
                dataType:'json',
                type:'POST',
                contentType: "application/json; charset=UTF-8",
                data : scheduleData,
                timeout:60000,
                async: false,
                success : function(data) {
                    var eventFuncAdd = function(){
                        return {
                            "event" : data
                        }
                    }
                    $('#calendar').empty();
                    console.log(JSON.stringify(data));
                    $('#calendar').Calendar({ 'events': eventFuncAdd, 'weekStart': 1 }, date.getFullYear(), date.getMonth(), date.getDate() );
                    if(data.success == true){

                    }
                }
            });
        };



        $(document).on('click', '#addSchedule', function () {

            var date = click_date;
            var content = $('#scheduleContent').val();
            var title = $('#scheduleTitle').val();
            var time = $('#timepicker').val();
            console.log("time : "+time)
            var now = new Date();
            var event_month = date.getMonth()+1;
            var addEvent = function(date){
                var scheduleData = '{"date":"'+date.getFullYear() + '-' + event_month + '-' + date.getDate()+'", "time":"'+time+'", "content":"'+content+'", "title":"'+title+'"}';
                $.ajax({
                    url: "/schedule/add",
                    dataType: 'json',
                    type: 'POST',
                    contentType: "application/json; charset=UTF-8",
                    data : scheduleData,
                    timeout:60000,
                    async: false,
                    success : function(data) {
                        var eventFuncAdd = function(){
                            return {
                                "event" : data
                            }
                        }

                        $('#calendar').empty();
                        console.log(JSON.stringify(data));
                        $('#calendar').Calendar({ 'events': eventFuncAdd, 'weekStart': 1 }, date.getFullYear(), date.getMonth(), date.getDate() );
                        if(data.success == true){

                        }
                    }
                })
            }
            addEvent(date);
        });


    </script>
</head>

<body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">


<div class="container">
    <div class="alert alert-success" role="alert">
        <div th:if="${user}" class="text-right">
            <span th:text="${user.userId}"></span><span>님, 안녕하세요!</span>&nbsp;
            <span><a class="btn btn-primary btn-sm " href="/user/logout" role="button">로그아웃</a></span>
        </div>

        <div th:if="${#lists.isEmpty(user.schedules)}">
            <p>스케줄이 없습니다</p>
        </div>

    </div>

</div>

<div class="container">

    <div class="row">
        <div class="span4 col-md-5" id="calendar" ></div>
        <div class="col-md-6">
            <div id="scheduleHeader">


            </div>
            <div id="scheduleList">
                <p>
                    일정이 없습니다.
                </p>
            </div>
            <div class="button-list text-right">
                <button type="button" id="makeModal" class="btn btn-default" data-toggle="modal" data-target="#createModal">일정 추가하기</button>
            </div>
            <div class="page text-center">
                <ul class ="pagination">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="createModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">2017년 5월 25일 일정 추가</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-group-lg">
                    <input class="form-control" type="text" placeholder="일정 제목" id="scheduleTitle"/>
                </div>
                <div class="form-group">
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input id="timepicker" type="text" class="form-control input-small"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    </div>
                </div>
                <div class="form-group form-group-lg">
                    <textarea class="form-control" rows="10" type="text" placeholder="내용" id="scheduleContent"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="addSchedule" data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#timepicker').timepicker();
</script>
</body>
</html>
