<!DOCTYPE html>
<html>
<head>
    <title>Minimum Setup</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap-calendar-0.2.5/css/calendar.css"/>
</head>
<body>

<div id="calendar"></div>

<script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/underscore/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-0.2.5/js/calendar.min.js"></script>
<script type="text/javascript">
    var calendar = $("#calendar").calendar(
        {
            tmpl_path: "/bootstrap-calendar-0.2.5/tmpls/",
            events_source: function () { return []; }
        });
</script>
</body>
</html>